<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
</head>
<body>
    <h2>Pagina Principal</h2>

    {{ range .Publicacoes }}
        <h4>ID: {{.ID}}</h4>
        <h4>Titulo: {{.Titulo}}</h4>
        <h4>Conteudo: {{.Conteudo}}</h4>
        <h4>Data da criação: {{.CriadoEm}}</h4>

        <hr/>
    {{ end }}
    <h1>{{ .Outrocampo }}</h1>
</body>
</html>